*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
html, body{
    height: 100%;
    width: 100%;
}
h1{
    text-align: center;
}
#main{
    border: 2px solid black;
    margin-top: 10px;
}
#canvas{
    border: 2px solid black;
    width:60%;
    margin:auto;
    height:100vh;
}
.form-body{
    border:2px solid black;
    margin:auto;
    padding:10px;
    border-radius: 10px;
}
#login-form-body{
    height:400px;
    margin-top:200px;
    width:350px;
}
#login-form-body h1{
    margin-bottom: 10px;
}
#register-form-body{
    height:625px;
    margin-top: 50px;
    width:350px;
}
#new-pkl-form-body, #edit-pkl-form-body{
    height:625px;
    width:400px;
    margin-top: 50px;
}

#edit-pks-form-body{
    height:400px;
    width:400px;
    margin-top: 100px;
    background-color: antiquewhite;
}

#occ-spot-form-body{
    height:600px;
    width:600px;
    background-color: antiquewhite;
    margin-top:75px;
}

#new-pkl-header, #edit-pkl-header, #occ-spot-header{
    background-color: lightgreen;
    margin-bottom: 10px;
}
.pkl-form-btns{
    width:100%;
}
.display-elmt{
    display:flex;
    border:2px solid black;
    background-color: rosybrown;
    height:75px;
    justify-content: center;
    align-items:center;
    margin: 5px;
    font-size: 30px;
}
.occ-spot-btn{
    width:100%;
}
.pkspot{
    /*height:50px;
    width:50px; */
    background-color: lightgreen;
    display:flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    /* margin: 5px; */
}
.pklot{
    display:grid;
    border: 2px solid lightgreen;
    background-color: black;
    grid-template-columns: repeat(4,minmax(50px, 1fr));
    grid-column-gap: 10px;
    grid-row-gap: 7px;
    padding:5px;
    justify-content: space-evenly;
    
}
#pkl-lot-display-grid{
    display:grid;
    margin:5px;
    grid-template-rows: 1fr 4fr;
}
#pkl-lot-scroll-container {
    max-height: 400px;
    overflow-y: auto;
}
#pklot-heading{
    background-color: aliceblue;
    color:rgb(255, 0, 183);
    padding:5px;
    display:inline;
    
}
#pklot-heading h3{
    display:inline;
    
}
#pklot-heading p{
    height:10px;
}
#pk-lots-display{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.headings{
    margin-top:10px;
    text-align: center;
}
#action-btn{
    background-color: aquamarine;
    margin:5px;
}
#action-btn a{
    text-decoration: none;
}
.occspot{
    background-color: tomato;
}
.avspot{
    background-color: green;;
}
 
