<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Parking Lot</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div id="main">
        <div id="canvas">
            <div class="form-body" id="edit-pkl-form-body">
               <h1 id="edit-pkl-header">Edit Parking Lot</h1>
               <form action="{{url_for('edit_pklot',lot_id=pklot.id)}}" method="post">
                    <div class="mb-3">
                        <label for="location" class="form-label">Prime Location Name</label>
                        <input type="text" class="form-control" id="location" name="location" value="{{pklot.prime_location_name}}" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="address" class="form-label">Address</label>
                        <textarea class="form-control" id="address" name="address" rows="3" readonly>{{pklot.address}}</textarea>
                    </div>
                    <div class="mb-3">
                        <label for="pin" class="form-label">Pincode</label>
                        <input type="text" class="form-control" id="pin" name="pincode" value="{{pklot.pincode}}" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Price/hour(in Rs.)</label>
                        <input type="number" step="0.50" min=0.0 class="form-control" id="price" name="price" value="{{pklot.price}}">
                    </div>
                    <div class="mb-3">
                        <label for="max-spots" class="form-label">Maximum Spots</label>
                        <input type="number" min=1 class="form-control" id="max-spots" name="max_spots", value="{{pklot.max_spots}}" readonly>
                    </div>
                    <br>
                    <div class="btn-group pkl-form-btns" role="group">
                        <input type="submit" class="btn btn-secondary" name="action" value="CANCEL">
                        <input type="submit" class="btn btn-success" name="action" value="UPDATE">
                    </div>

                
                </form>
            </div>
        </div>
    </div>
</body>
</html>