<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserve Parking Spot</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="main">
        <div id="canvas">
            <div class="form-body" id="res-pks-form-body">
               <h1 id="new-pkl-header">New Parking Lot</h1>
               <form action="{{ url_for('book_parkingspot', user_id=user_id , lot_id=lot_id)}}" method="post">

                    <div class="mb-3">
                        <label for="userid" class="form-label">User ID</label>
                        <input type="number" class="form-control" id="userid" value="{{ user_id }}" name="user_id" readonly>
                    </div>    
                    <div class="mb-3">
                        <label for="lotid" class="form-label">Lot ID</label>
                        <input type="number" class="form-control" id="lotid" name="lotid" value="{{ pklot.id }}" readonly>
                    </div>

                    <div class="mb-3">
                        <label for="spotid" class="form-label">Available Spot ID</label>
                        <input type="text" class="form-control" id="spotid" name="spot_id" value="{{ spot.id }}" readonly>
                    </div>
    
                    <div class="mb-3">
                        <label for="location" class="form-label">Prime Location Name</label>
                        <input type="text" class="form-control" id="location" value="{{ pklot.prime_location_name }}" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="address" class="form-label">Address</label>
                        <textarea class="form-control" id="address" rows="3" readonly>{{ pklot.address }}</textarea>
                    </div>
                    <div class="mb-3">
                        <label for="pin" class="form-label">Pincode</label>
                        <input type="text" class="form-control" id="pin" value="{{ pklot.pincode }}" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Price/hour(in Rs.)</label>
                        <input type="number" step="0.50" min=0.0 class="form-control" id="price" name="price" value="{{ spot.price }}" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="vehicleno" class="form-label">Vehicle Number</label>
                        <input type="text" class="form-control" id="vehicleno" name="vehicle_number">
                    </div>
                    <br>
                    <div class="btn-group pkl-form-btns" role="group">
                        <input type="submit" class="btn btn-secondary" name="action" value="CANCEL">
                        <input type="submit" class="btn btn-success" name="action" value="BOOK">
                    </div>

                
                </form>
            </div>
        </div>
    </div>
</body>
</html>